#include "{header_path}"
#include "bakkesmod/wrappers/includes.h"
#include "{gen_h_path}"

BAKKESMOD_PLUGIN({class_name}, "{crate_name}", "{crate_version}", {flags})

void {class_name}::onLoad() {{
    on_load();
}}

void {class_name}::onUnload() {{
    on_unload();
}}

void console_log(std::string const &msg) {{
    singleton->cvarManager->log(msg);
}}
